body {
    background: #061611;
    color: white;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 60px auto;
}

button {
    margin-bottom: 20px;
    padding: 8px 12px;
}